.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.col {
    display: flex;
    flex-direction: column;
}

.required::after {
    content: "*";
    color: #dc3545;
    margin-left: 4px;
}

.forgot-password-container {
    position: absolute;
    width: 640px;
    height: 540px;
    top: 20%;
    left: 10%;
    padding: 10px;
    background: #ffffff;
    border-radius: 16px;
}

.forgot-password-content {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 22%;
    left: 8%;
    padding: 10px;
}

.forgot-password-image {
    position: absolute;
    width: 585px;
    height: 523px;
    display: flex;
    right: 0%;
    top: 8em;
}

.input-text-long {
    margin-top: 1%;
    font-size: 14px;
    text-decoration: none;
    align-items: center;
    padding: 8px;
    width: 100%;
    border: #838181 solid 1px;
    border-radius: 10px;
    color: #000000;
    transition: ease-in 0.1s;
}

.purple-outline-btn-long {
    font-size: 14px;
    text-decoration: none;
    padding: 8px 0;
    text-align: center;
    width: 100%;
    border: #5822ca solid 1px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #5822ca;
    color: white;
    transition: ease-in 0.1s;
    cursor: pointer;
}

.purple-outline-btn-long:hover {
    color: white;
    background-color: rgb(55, 0, 172);
}

.form-text {
    width: 90%;
    margin-bottom: 4%;
}

.form-text-header {
    width: 90%;
    margin-bottom: 8%;
}

.form-text h5 {
    color: #838181;
}

.forgot-password-text {
    display: flex;
    flex-direction: row;
}

.forgot-password-text p {
    font-size: 18px;
    color: #838181;
}

.card-footer {
    margin-top: 4%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 10%;
}

.text-danger {
    margin: 3px;
    font-size: 12px;
    color: red;
}

.text-success {
    margin: 3px;
    font-size: 12px;
    color: #5822ca;
}

@media screen and (max-width: 1190px) {
    .login-image {
        background-size: 0 0;
    }
}
