.forgot-password-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    max-width: 1280px;
    font-size: 14px;
}

.forgot-password-container {
    position: absolute;
    width: 640px;
    height: 500px;
    left: 5%;

    background: #ffffff;
    border-radius: 16px;
}

.form-group {
    width: 100%;
}

.forgot-password-image {
    position: absolute;
    width: 600px;
    height: 600px;
    display: flex;
    right: 0%;
}

.card-center {
    margin-top: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 10%;
    padding-right: 10%;
    gap: 1em;
    height: 50%;
}

.form-text {
    margin-bottom: 50px;
}

.form-text h5 {
    color: #838181;
}

.card-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 10%;
}

.input-text-long {
    margin-top: 1em;
    font-size: 14px;
    text-decoration: none;
    align-items: center;
    padding: 8px;
    width: 97%;
    border: #000000 solid 1px;
    border-radius: 10px;
    color: #ffffff;
    transition: ease-in 0.1s;
}

.purple-outline-btn-long {
    margin-top: 1em;
    font-size: 14px;
    text-decoration: none;
    padding: 8px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: #5822ca solid 1px;
    border-radius: 10px;
    background-color: #5822ca;
    color: white;
    transition: ease-in 0.1s;
}

.purple-outline-btn-long:hover {
    color: white;
    background-color: rgb(55, 0, 172)
}

.text-danger {
    margin: 3px;
    font-size: 12px;
    color: red;
}

.alert {
    position: relative;
    top: 10;
    left: 0;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    line-height: 1.8;
    border-radius: 5px;
    cursor: hand;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 400;
    }

    .alertCheckbox {
    display: none;
    }

    :checked + .alert {
    display: none;
    }

    .alertText {
    display: table;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    }

    .alertClose {
    float: right;
    padding-top: 5px;
    font-size: 10px;
    }

    .clear {
    clear: both;
    }

    .info {
    background-color: #EEE;
    border: 1px solid #DDD;
    color: #999;
    }

    .success {
    background-color: #EFE;
    border: 1px solid #DED;
    color: rgb(10, 110, 10);
    }

    .notice {
    background-color: #EFF;
    border: 1px solid #DEE;
    color: #9AA;
    }

    .warning {
    background-color: #FDF7DF;
    border: 1px solid #FEEC6F;
    color: #C9971C;
    }

    .error {
    background-color: #FEE;
    border: 1px solid #EDD;
    color: rgb(173, 0, 0);
    }

@media screen and (max-width: 1100px) {
    .forgot-password-image {
        background-size: 0 0;
    }
    .forgot-password-body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        max-width: 1280px;
        font-size: 14px;
    }
    .forgot-password-container {
        position: absolute;
        width: 640px;
        height: 500px;

        background: #ffffff;
        border-radius: 16px;
    }
  }

