* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f6f8fc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

h4 a,
h2 a,
h1 a {
    color: #000;
}

.page-body {
    background: #f6f8fc;
    max-width: 1280px;
    min-height: 90vh;
    margin: auto;
    padding-top: 7em;
    padding-left: 2em;
    padding-right: 2em;
    padding: 7em 2em 2em 2em;
    max-width: 1280px;
}

.custom-nav {
    position: fixed;
    width: 90%;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px 30px 50px;
    transition: background-color 0.3s ease;
    z-index: 100;
}

.custom-nav.scrolled {
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0) 10%,
        rgba(255, 255, 255, 0.8) 80%
    ); /* Gradient background */
}

.nav-row {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.selected,
.selected p {
    color: #5822ca;
    text-decoration: none;
}

.underline {
    text-decoration-line: underline;
}

.rect-btn-outline {
    text-decoration: none;
    display: flex;
    padding: 6.5px 10px;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    color: #19b2e2;
    border: 1px solid #19b2e2;
}

.rect-btn-outline:hover {
    background-color: #ffffffaa;
}

.riverse-logo img {
    width: 100px;
    height: 40px;
}

.footer-custom {
    background: #edf0f3;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

.footer-top {
    padding: 30px 50px 10px 50px;
}

.footer-mid {
    padding: 10px 50px 30px 50px;
    display: flex;
    gap: 180px;

    color: #000;
    font-size: 10px;
    font-weight: 400;
}

.footer-bottom {
    color: #838181;
    font-size: 11px;
    background: #e6e9ee;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 10px 50px;
}

.footer-col {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 220px;
}

.footer-col-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-bottom-right {
    display: flex;
    gap: 30px;
}

.footer-bottom-right a {
    text-decoration: none;
    color: #838181;
}

.oneline {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.italic {
    font-style: italic;
}

.component-testing-page-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
}

/* Component Stylings */
.activity-card-container {
    width: 268px;
    min-height: 320px;
    padding: 10px;
    border-radius: 16px;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.activity-card-container-lg {
    width: 566px;
    height: 597px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 16px;
}

.activity-card-container-hor {
    width: 566px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    gap: 20px;
    border-radius: 16px;
}

.activity-card-container .img-container {
    width: 248px;
    height: 174px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    padding: 0 10px;
}

.activity-card-container-lg .img-container-lg {
    width: 556px;
    height: 404px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.activity-card-container-hor .img-container-hor {
    width: 215px;
    height: 169px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 12px;
    padding: 10px;
}

.card-info-lg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin-top: 15px;
    gap: 10px;
}

.card-info-lg h2 {
    margin-bottom: 2px;
}

.card-info-hor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.card-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.card-row img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.likes {
    display: flex;
    gap: 8px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px;
    width: fit-content;

    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}

.profpic {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #5822ca;
}

.profpic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-test-profile-image {
    max-width: 70px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .page-body {
        max-width: 100%;
    }

    .activities-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

a.selected p.selected {
    color: #5822ca;
}

.outline-btn-small {
    text-decoration: none;

    max-width: 90px;
    height: 35px;
    padding: 6px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    border: 2px solid #19b2e2;
    color: #19b2e2;
    background-color: rgba(255, 255, 255, 0);
}

.outline-btn-small:hover {
    border: 2px solid #5822ca;
    color: white;
    background-color: #5822ca;
    transition-duration: 0.4s;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
    margin-top: 5em;

    background-color: white;

    /* max-width: 50%; */
    max-width: fit-content;
    border-radius: 1.5em;
    /* padding: 1em -2em; */
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    list-style-type: none;

    padding: 0em 2.5em;
}

.pagination .elements {
    margin-left: 5em;
    margin-right: 5em;
    width: fit-content;

    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    font-weight: 500;
}

.pagination .elements .active {
    background-color: #5822ca;
    color: white;
    border-radius: 0.2em;
    width: 2em;
    height: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination a {
    color: #9fadc4;
}

.pagination .arrow {
    font-size: 50px;
    font-weight: 100;
}

.pagination .disabled span {
    color: #edf0f3;
}
