.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.reset-password-container {
    position: absolute;
    width: 640px;
    height: 640px;
    left: 10%;
    padding: 10px;

    background: #ffffff;
    border-radius: 16px;
}

.reset-password-content {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 8%;
    padding: 10px;
}

.reset-password-image {
    position: absolute;
    width: 472px;
    height: 488px;
    display: flex;
    right: 0%;
    top: 8em;
}

.input-text-long {
    margin-top: 1em;
    font-size: 14px;
    text-decoration: none;
    align-items: center;
    padding: 8px;
    width: 97%;
    border: #000000 solid 1px;
    border-radius: 10px;
    color: #000000;
    transition: ease-in 0.1s;
}

.purple-outline-btn-long {
    margin-top: 1em;
    font-size: 14px;
    text-decoration: none;
    padding: 8px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: #5822ca solid 1px;
    border-radius: 10px;
    background-color: #5822ca;
    color: white;
    transition: ease-in 0.1s;
    cursor: pointer;
}

.purple-outline-btn-long:hover {
    color: white;
    background-color: rgb(55, 0, 172);
}

.form-text {
    margin-bottom: 50px;
}

.form-text h5 {
    color: #838181;
}

.card-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 10%;
}

.text-danger {
    margin: 3px;
    font-size: 12px;
    color: red;
}

@media screen and (max-width: 1100px) {
    .reset-password-image {
        background-size: 0 0;
    }
}
